.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

.carli {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: red;
}

.cards :hover {
    background-color: #ccc;
}